.lang-switcher {
    position: relative;
    margin-right: 0.125rem; /* Kleiner Rand zum Login */
}

.lang-toggle {
    display: none;
}

.lang-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    background: var(--color-bg-button-lang);
    transition: all 0.3s;
}

.lang-button:hover {
    background: var(--color-bg-button-hover-lang);
}

.lang-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--color-bg-header);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: 0 4px 15px var(--color-shadow-box-lang);
    min-width: 120px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s;
}

#lang-toggle:checked ~ .lang-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.lang-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
}

.lang-option:hover {
    background: var(--color-bg-option-hover-lang);
}

/* Flags */
.fi {
    width: 24px;
    height: 18px;
    border-radius: 2px;
}
