.logo-section {
    grid-row: 1 / 3;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 90px;
    max-width: 115px;
}


@media (min-width: 768px) {
    .logo { width: 115px; }
}

@media (max-width: 767px) {
    .logo-section {
        grid-row: 2;
        grid-column: 1;
        order: 1;
    }
}