@import "cards.css";

.container {
    max-width: var(--width-page);
    width: 100%;
    margin: 0 auto;
}

.main {
    position: relative;
    flex: 1;
    margin: 0 auto;
    width: 100%;
    max-width: var(--width-page);
    padding: 2rem 2rem;
    z-index: 1;

    background-color: var(--color-bg-main);
    backdrop-filter: var(--glass-blur);
    border: var(--glass-border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-soft);
}


@media (max-width: 768px) {
    .main {
        padding: 1rem;
        margin: 5px auto;
    }
}