@import "header.css";
@import "main.css";
@import "footer.css";

* {
    box-sizing: border-box;
}

:root {
    --color-bg-body:    #4596d1;
    --color-bg-header:  #f8981d;
    --color-bg-main:    #034ea2;
    --color-bg-footer:  #ed1a3b;
    --color-bg-card:    #4596d1;

    --glass-border: 2pt solid rgba(255,255,255,0.3);

    --shadow-soft: 0 8px 32px rgba(0,0,0,0.12);
    --shadow-hover: 0 12px 40px rgba(0,0,0,0.2);
    --glass-blur: blur(10px);

    --width-page:  1200px;
    --border-radius: 20px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 10px 0 0 0;
    min-height: 100vh;
    background-color: var(--color-bg-body);
    font-family: sans-serif;
}








