.footer {
    position: relative;
    flex-shrink: 0;
    padding: 1rem 0 2rem;
    width: 100%;
    max-width: var(--width-page);
    height: 70px;
    z-index: 1;
    text-align: center;

    background-color: var(--color-bg-footer);
    backdrop-filter: var(--glass-blur);
    border: var(--glass-border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-soft);
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;

    background: linear-gradient(90deg, transparent, #034ea2, transparent);
    box-shadow: var(--box-shadow-footer);
}

.footer p {
    margin: 0.5rem 0 0;
    font-size: 0.875rem;
    color: var(--color-text-footer);
    font-weight: 500;
    text-shadow: var(--text-shadow-footer), var(--text-shadow-footer-glow);
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    .footer {
        padding: 1rem;
        height: auto;
        margin: 5px auto;
    }

    .footer p {
        font-size: 0.8rem;
        text-shadow: var(--text-shadow-mobile);
    }
}
